torch
torchvision
torchaudio
transformers
accelerate
bitsandbytes
peft
sentencepiece
tokenizers
safetensors
numpy
pandas
scipy
scikit-learn
matplotlib
seaborn
sympy
joblib
threadpoolctl
nltk
rouge-score
bert-score
bibtexparser
ftfy
fast-langdetect
fasttext-predict
regex
optuna
tqdm
dill
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
faiss-cpu
datasets
fsspec
huggingface-hub
rank-bm25
openai
anthropic
boto3
botocore
s3transfer
swanlab
pydantic
pydantic_core
typing_extensions
annotated-types
magic-pdf
pdfminer.six
PyMuPDF
doclayout_yolo
rapid-table
robust-downloader
opencv-python
opencv-python-headless
albumentations
albucore
ultralytics
ultralytics-thop
thop
shapely
pyclipper
fastapi
uvicorn
httpx
httpcore
requests
anyio
sniffio
h11